body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.inner-wrap {width: 100%; height: 700px;}
.swiper-container {
    /* width: 100%;
    height: auto; */
    /* width: 580px; */
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}
.swiper-container .swiper-slide {
    height: 100px;
    line-height: 100px;
}
.swiper-container .swiper-slide:nth-child(2n) {
    height: 300px;
    line-height: 300px;
}